<div>
	<span>
		photo
	</span>
	<span id = "name">
		<%=user.name%>
	</span>
</div>
<div>
	<div id = "head">
		Groups:
	</div>
	<div id = "glist">
		<ul>
			<% @users.each do|user| %>
				<li><%=groups.moniker%><li>
			<%end%>
		<ul>
	</div>
</div>