// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#landing {
	overflow-y: scroll;
	padding: 60px;
}

.top {
	font: oblique, bold;
}
.custform {
	background-color: black;
	padding: 0px;
}
#sign-up {
	float: left;
	margin-left: 50px;
}
#sign-in {
	float: right;
	margin-right: 50px;
}