// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap-sprockets";
@import "bootstrap";
#pic {
	border: 1px solid;
	border-radius: 20px;
}
#name {
	font-size: x-large;
	font-family: Georgia, serif;
	color:#333333;
	font-stretch: expanded;
	font-style: oblique;
	font-weight: bold;
}
#head {
	position: relative;
	left: 20px;
}
#glist {
	position: relative;
	left: -20px;
}
